{{ define "main"}}
  <div class="row py-5">
    <div class="col-lg-12 col-md-12 pl-5 py-5 -bg-kanto-green">
      <div class="card h-100 bg-transparent border-0">
        <div class="card-body px-0">
          <h2 class="card-title text-center">Element not found</h2>
          <h3 class="card-title text-center pt-5"> The web address you entered is not a functioning page on our site.</h3>
        </div>
        <div class="card-footer bg-transparent border-0">
          <div class="kanto-button-container">
            <a href="{{ "/" | relURL }}" class="kanto-button kanto-feature text-uppercase font-weight-bold">
            Go home
            <i class="pl-3 fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
