.alert-primary {
  border-style: solid !important;
  border-color: $primary !important;
  border-width: 0 0 0 4px !important;
  .alert-heading {
    color: $primary !important;
  }
}

.alert-dark {
  border-style: solid !important;
  border-color: $kanto-feature-color !important;
  border-width: 0 0 0 4px !important;
  .alert-heading {
    color: $kanto-feature-color !important;
  }
}

.alert-mid {
  border-style: solid !important;
  border-color: $kanto-mid-color !important;
  border-width: 0 0 0 4px !important;
  .alert-heading {
    color: $kanto-mid-color !important;
  }
}

.alert-light {
  border-style: solid !important;
  border-color: $kanto-gold-color !important;
  border-width: 0 0 0 4px !important;
  .alert-heading {
    color: $kanto-gold-color !important;
  }
}

.alert-docs-pic {
  float: left;
  margin: 0px 5px 0px 0px;
  vertical-align: top;
  width: 25px;
}

.alert-docs-container {
    display: flex;
    padding-left: 10px !important;
}