.td-search__input {
  max-width: 90%;
  border-radius: 1rem;
  width: 360px;
}

.td-navbar .navbar-nav {
  padding-bottom: 0rem;
  padding-top: 0rem;
}

.block-center {
  max-width: 1200px;
  margin: 0 auto;
}

.block-before-ref {
  &:before {
      display: inline-block;
      text-rendering: auto;
      padding-top: 2rem;
      content: " ";
  }
}
