.border-bottom-light {
  border-color: $kanto-gold-color !important;
  border-bottom: 1px solid $kanto-gold-color !important;
}

.border-bottom-dark {
  border-color: $primary !important;
  border-bottom: 1px solid $primary !important;
}
