.td-content {
    // Inline code
    p code, li > code, table code {
        color: rgba($color: black, $alpha: 0.6);
    }
}

.td-content > blockquote {
    // Quote
    background-color: rgba($color: white, $alpha: 0.8);
    border-left: 3px solid $secondary;
}
