.kanto,
h2,
h3 {
  color: $primary;
}

h1, .h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

display-1, .display-1 {
  font-size: 3rem;
  width: max-content;
}

display-2, .display-2 {
  font-size: 2.5rem;
}

.h1 .display-1 .mt-0 .mt-md-2 .pb-3 .border-bottom {
  width: max-content;
}

display-5, .display-5 {
  font-size: 1.5rem;
  font-weight: 500;
}

.td-box .row {
  padding-left: 5vw;
  padding-right: 5vw;
  width: auto;
}

.td-box--100 {
  color: #2a4d14;
}

.row > * {
  flex-shrink: 1;
}
.alert-primary {
  background-color: #fff;
}

.alert-secondary {
  background-color: #fff;
  color: #2a4d14;
  border-style: solid;
  border-color: #a19f20;
  border-width: 0 0 0 4px
}

.kanto-feature {
  color: $kanto-feature-color;
}

.kanto-highlight {
  color: $kanto-mid-color;
  font-weight: 600;
  font-size: 1.6rem;
}

.white {
  color: $white;
}

.tooltip-inner {
  background-color: $primary-dark;
}

.td-toc #TableOfContents a {
  color: rgba($color: black, $alpha: 0.7);
}

.td-search-input:not(:focus)  {
  color: rgba($color: white, $alpha: 0.5);
}

.text-footer-menu {
  color: rgba($color: white, $alpha: 0.7);
}

a.text-footer-menu:hover, a.text-footer-menu:focus {
  color: $kanto-menu-hover;
}
