.kanto-link {
  color: $primary;
  transition: 0.2s;
}

.kanto-link:hover {
  color: $white;
}

p > a, main a {
  color:$primary-light !important;
  font-weight: 600;
  transition: 0.2s;
}

p > a:hover, main a:hover {
  color: $kanto-gold-color !important;
}

.td-navbar .nav-link{
  transition: 0.3s;
  font-size: larger;
  font-weight: 400;
  text-shadow: none;
}

.navbar-color .navbar-nav .nav-link {
  color:$white;
  :hover {
    color: $kanto-menu-hover;
  }
}
