
.kanto-logo {
  display: inline-block;
  margin: 0px 10px;
  width: 85px;
}

#kanto_logo {
  overflow: visible;
}

.eclipse-incubation-logo {
  width: 200px;
}

.eclipse-iot-logo {
  height: 40px;
}

footer {
  min-height: 200px;

  @include media-breakpoint-down(sm) {
    min-height: 200px;
  }

  @include media-breakpoint-down(md) {
    min-height: 210px;
  }

  @include media-breakpoint-down(xl) {
    min-height: 260px;
  }
}