$google_font_name: "Kumbh Sans" !default;
$google_font_family: "Kumbh+Sans:300,300i,400,400i,600,600i" !default;
$web-font-path: "https://fonts.googleapis.com/css?family=#{$google_font_family}&display=swap";

$font-weight-bold: 600;

// green-gold palette
$color1:#476e40;
$color2:#5e9e56;
$color3:#a19f20;
$color4:#ace79a;

$primary: $color1;
$primary-light: #58a718;
$primary-dark: #2a4d14;

$white: #ffffff;
$blue: #0b29bd;

// Home page component
$kanto-feature-color: $color3;
$kanto-gold-color: $color3;
$kanto-mid-color: $color2;
$kanto-menu-hover: $color4;

// Home page architecture background
$kanto-arch-color:#809b73;

// Override theme colors with Kanto ones
$body-bg: #ececeb;
$gray-900: $primary-dark;
$gray-100: $body-bg;
$secondary: $kanto-gold-color;

// Override documentation links color
$blue: $color3;

// Footer background color
$bg-dark:$primary;