---
title: "About"
linkTitle: "About"
menu:
  main:
    weight: 10
description: >
  About Eclipse Kanto features.
aliases: ["/about/"]
---

{{< blocks/cover title="About Eclipse Kanto" image_anchor="top" height="min" color="kanto-primary">}}
  <p class="lead">motivation | overview | features</p>
{{< /blocks/cover >}}

<div class="card-body justify-content-center td-box--100 block-center">
  {{% include file="about/motivation.md" title="Motivation" ref="motivation" %}}
  {{% include file="about/overview.md" title="Overview" ref="overview" %}}
  {{% include file="about/features.md" title="Features" ref="features" %}}
</div>
