<div class="justify-content-center td-box--100 -bg-kanto-arch">
  <div class="row justify-content-center pt-4 td-box--100 -bg-kanto-arch title-section">
    <h1 class="border-bottom-dark pt-4 white">Architecture</h1>
  </div>

  <div class="row justify-content-center pt-4 td-box--100 -bg-kanto-arch">
    <p class="block-center card-body justify-content-center text-center white">
      Eclipse Kanto is based on lightweight native components, open protocols
        and standard containers that ensure availability on hardware, minimum
        integration work, reduced complexity and scalable edge applications.</p>
  </div>

  <div class="row justify-content-center pt-4 td-box--100 -bg-kanto-arch">
    <img class="block-center justify-content-center" src="/images/home/eclipse-kanto-long.png" alt="Eclipse Kanto Architecture"/>
  </div>

  <div class="row justify-content-end td-box--100 p-5 -bg-kanto-arch">
   <div class="block-center kanto-button-container justify-content-end">
    <a href="/about/" class="kanto-button kanto-white-arch text-uppercase font-weight-bold">
      Read more <i class="pl-3 fas fa-arrow-right"></i>
    </a>
   </div>
  </div>
</div>

