<ul class="list-unstyled d-flex justify-content-between align-items-center mb-0 pt-5 w-100">
  <li>
    <div class="kanto-button-container">
      <a {{if .PrevInSection}}href="{{.PrevInSection.RelPermalink}}"aria-label="{{ T "ui_pager_prev" }} - {{.PrevInSection.Title}}"{{end}}
        class="kanto-button kanto text-uppercase font-weight-bold {{if not .PrevInSection}} disabled{{end}}">
        <i class="pl-3 fas fa-arrow-left"></i>
        {{ T "ui_pager_prev" }}
      </a>
    </div>
  </li>
  <li>
    <div class="kanto-button-container">
      <a {{if .NextInSection}}href="{{.NextInSection.RelPermalink}}"aria-label="{{ T "ui_pager_next" }} - {{.NextInSection.Title}}"{{end}}
        class="kanto-button kanto text-uppercase font-weight-bold {{if not .NextInSection}} disabled{{end}}">
        {{ T "ui_pager_next" }}
        <i class="pl-3 fas fa-arrow-right"></i>
      </a>
    </div>
  </li>
</ul>


